# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**:
* List popular languages for Data Science
* Data Science Tools
* Examples of arithmetic expressions

# Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

# Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. scikit-learn
4. Seaborn
5. TensorFlow

# Data Science Tools
1. Jupyter
2. VS code
3. R

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This line of code calculates the result of the expression (3 * 4) + 5.
# It first multiplies 3 by 4, then adds 5 to the result.
(3*4) + 5

17

In [5]:
# Calculate the number of hours in 200 minutes
minutes =  200 
hours  = 60 
result = minutes/hours
print(f'{result} hours')

3.3333333333333335 hours

## Author
Kiran Kumar